Repository antonioferreiraSA/dwc-mobile-app, changes with the labels that .github/labeler.yml gives for each.
All labels: 🤜 🤛 CONNECT, 💰 GIVING, 👥 GROUPS, 🏠 HOME, 📽 MEDIA

.github/labeler.yml:

🤜 🤛 CONNECT:
  - screens/Connect.js
  - screens/Activate.js
  - screens/Baptism.js
  - screens/Locations.js
  - components/ServiceTimes.js
  - screens/Missions.js
  - screens/PrayerRequests.js
  - screens/Volunteer.js
💰 GIVING:
  - screens/Giving.js
👥 GROUPS:
  - data/groups.js
  - screens/Groups.js
  - screens/GroupDetails.js
  - utils/groups.js
  - components/Group*.js
  - components/AskAboutGroupModal.js
  - components/JoinGroupModal.js
🏠 HOME:
  - data/blogPosts.js
  - data/instagram.js
  - data/verseOfTheDay.js
  - screens/Home.js
  - components/HomeCardPlaceholder.js
📽 MEDIA:
  - data/youtube.js
  - screens/Media.js

expo doctor & app.config
  app.config.js
  package.json
  yarn.lock
Labels: none

typescript update
  app.config.js
  eas.json
  package.json
  yarn.lock
Labels: none

linking , and updates
  config/connect.js
  navigation/AppNavigator.js
  screens/Baptism/Baptism.js
  screens/Giving.js
  screens/Home/Home.js
  screens/Home/MembershipForm.js
  screens/Locations.js
  screens/Login/Login.js
  screens/Login/test.js
  screens/Media.js
  screens/Media/Media.js
  screens/PrayerRequest/PrayerRequests.js
  screens/Volunteer/Volunteer.js
  screens/Youtube/Youtube.js
Labels: 🤜 🤛 CONNECT, 💰 GIVING, 📽 MEDIA

code clean up
  assets/images/activate.png
  assets/images/app-icon.png
  assets/images/apple-podcasts.png
  assets/images/google-podcasts.png
  assets/images/leadership-pod.jpg
  assets/images/rightnow_media.jpg
  assets/images/spotify.png
  assets/images/volunteer.jpg
  assets/images/youtube.png
  data/instagram.js
  data/tweets.js
  data/verseOfTheDay.js
  data/youtube.js
  docs/README.md
  docs/contributing.md
  docs/getting-started.md
  navigation/AppNavigator.js
  screens/Activate.js
  screens/GroupDetails.js
  screens/Groups.js
  screens/Missions.js
  screens/Playlist.js
Labels: 🤜 🤛 CONNECT, 👥 GROUPS, 🏠 HOME, 📽 MEDIA

app config
  app.config.js
  screens/Home/MembershipForm.js
Labels: none

sdk bug fix
  app.config.js
  package.json
  yarn.lock
Labels: none

push notification
  App.tsx
  app.config.js
  google-services.json
  package.json
  yarn.lock
Labels: none
